.cardView {
  width: 155px;
  /* height: 135px; */
}
.title {
  font-size: 13px;
  color: #0066c0;
}
.author {
  font-size: 12px;
  color: #0066c0;
}
.type {
  font-size: 12px;
  color: #555555;
}
.cost {
  font-size: 12px;
  color: #b12704;
}
