.searchBarView {
  display: flex;
  flex-direction: row;
  border: 1px solid #494c51;
  width: 1174px;
  height: 39px;
  border-radius: 5px;
}
.buttonView {
  width: 99px;
  height: 38px;
  border-radius: 5px 0px 0px 5px;
}
.textButton {
  color: #585858;
  font-size: 12px;
}
.imageView {
  width: 45px;
  height: 38px;
  justify-content: end;
  align-self: flex-end;
  align-content: flex-end;
}
.textBoxView {
}
.searchView {
  width: 45px;
  height: 38px;
  background-color: #febd68;
  border-radius: 0px 5px 5px 0px;
  /* margin-top: -1px; */
  /* padding-top: 2px; */
}
